<section class="auth-options">
	<button mat-button (click)="isAvariableWebAuthn()">
		<mat-icon fontIcon="check_circle" class="icon-lg" />
		ISUVPPA
	</button>

	<button
		data-test-id="button-register-webauthn"
		mat-button
		(click)="registerWebAuthn()"
		[disabled]="!user()"
	>
		<mat-icon fontIcon="fingerprint" class="icon-lg" />
		REGISTER AUTHENTICATOR
	</button>

	<button data-test-id="button-login-webauthn" mat-button (click)="loginWebAuthn()">
		<mat-icon fontIcon="login" class="icon-lg" />
		AUTHENTICATE
	</button>
</section>
