<div class="register">
	<h4 class="register__title" mat-dialog-title>Sign In</h4>
	<mat-dialog-content>
		<form [formGroup]="registerForm" class="register__form">
			<mat-form-field>
				<mat-label>UserName</mat-label>
				<input matInput formControlName="username" type="text" placeholder="Username" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>Name</mat-label>
				<input matInput formControlName="name" type="text" placeholder="Name" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>Last Name</mat-label>
				<input matInput formControlName="lastName" type="text" placeholder="Last Name" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>Password</mat-label>
				<input matInput formControlName="password" type="password" placeholder="Password" />
			</mat-form-field>
			<button mat-flat-button (click)="register()" [disabled]="registerForm.invalid">
				Register
			</button>
		</form>
	</mat-dialog-content>
</div>
