<mat-card appearance="outlined" class="authenticator">
	@let item = authenticator();
	<mat-card-header>
		<div class="authenticator__header">
			<p class="authenticator__header__title">{{ item.device }}</p>
		</div>
	</mat-card-header>
	<mat-divider />
	<mat-card-content class="authenticator__content">
		<div class="authenticator__content__items">
			<dt>Credential Type</dt>
			<dd>{{ item.credentialDeviceType }}</dd>

			<dt>AAGUID</dt>
			<dd>{{ item.aaguid }}</dd>

			<dt>Enrolled at</dt>
			<dd>{{ item.createAt }}</dd>

			<dt>CredentialID</dt>
			<dd>{{ item.credentialID }}</dd>

			<dt>Public Key</dt>
			<dd>
				{{ item.credentialPublicKey | bufferToBase64 }}
			</dd>
		</div>
	</mat-card-content>
</mat-card>
